@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cinzel:wght@400..900&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');


*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(250, 250, 13);
    color: black;
}

.conteudo__main{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conteudo__main__section {
    width: 615px;
}
.conteudo__main__section__h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    .titulo__destaque {
    color: blue;
}
}
.conteudo__main__section__p {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;

}
.conteudo__main__section__div {
    display: flex;
    justify-content: space-between;
}